body {
    width: 500px;
    margin: 0 auto;
    font:400 15px/1 'Bree Serif';
}

.container {
    width: 500px;
    height: 500px;
    display: block;
    position: relative;
    overflow: hidden;
}

#swipeview-slider > div {
    position:relative;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    overflow:hidden;
}

.slides
{
    display: none;
}

.prev { float: left; }
.next { float: right; }

